<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!</h1>
  </div>
<%= javascript_include_tag "application" %>
  <div class="previews">
    <div class="slider">
      <%= image_tag '5e5864c561a30' %>
      <%= image_tag 'AdobeStock_191037036' %>
      <%= image_tag 'img_a1c866d6ee6f03c72d20bda498cf7c9d136840' %>
    </div>
  </div>
</div>